<div class="column is-half">
  <h1>Login</h1>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Email" [(ngModel)]="postData.email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    

    <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" [(ngModel)]="postData.password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
          <p class="control">
            
            <span class="has-text-danger">
              {{errorText}}
            </span>
          </p>
        </div>
    <div class="field">
      <p class="control">
        <a routerLink="/forgot">Forgot Password</a>
      </p>
    </div>

    <a class="button is-primary" (click)="loginAction()">Login</a>
    


</div>